.wapuloader-demo .ajax-loader,
.wpcf7 .ajax-loader {
	visibility: hidden;
	display: inline-block;
	position: relative;
	background-image: none;
	background-color: transparent;
	opacity: 1;
	width: 32px;
	height: 32px;
	border: none;
	padding: 0;
	margin: 0 0 0 8px;
	vertical-align: middle;
}

.wapuloader-demo .ajax-loader::before,
.wpcf7 .ajax-loader::before {
	position: absolute;
	content: url('./wapuu-original.svg');
	background-color: transparent;
	width: 32px;
	height: 32px;
	border: none;
	transform-origin: center;
	animation-name: rolling-wapuu;
	animation-duration: 1000ms;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.wapuloader-demo .ajax-loader,
.wpcf7 form.submitting .ajax-loader {
	visibility: visible;
}

@media (prefers-reduced-motion: reduce) {
	.wapuloader-demo .ajax-loader::before,
	.wpcf7 .ajax-loader::before {
		animation-name: blink;
		animation-duration: 4000ms;
		animation-timing-function: linear;
	}
}

@keyframes rolling-wapuu {
	from {
		transform: rotate(0deg);
		left: 0;
	}

	to {
		transform: rotate(360deg);
		left: 64px;
	}
}

@keyframes blink {
	from {
		opacity: 0.1;
	}

	50% {
		opacity: 0.9;
	}

	to {
		opacity: 0.1;
	}
}
