div.wpcf7 .ajax-loader {
	visibility: hidden;
	display: inline-block;
	position: relative;
	background-image: none;
	background-color: transparent;
	width: 32px;
	height: 32px;
	border: none;
	padding: 0;
	margin: 0 0 0 8px;
	vertical-align: middle;
}

div.wpcf7 .ajax-loader::before {
	content: url('./wapuu-original.svg');
}

div.wpcf7 .ajax-loader.is-active {
	animation: 1s ease-out 0s alternate none infinite running rolling-wapuu;
}

@keyframes rolling-wapuu {
	0% {
		transform: rotate(0deg);
		left: 0;
	}

	100% {
		transform: rotate(359deg);
		left: 64px;
	}
}
