.wapuloader-demo .ajax-loader,
.wpcf7 .ajax-loader {
	margin: 0 8px 0 0;
}

@keyframes rolling-wapuu {
	from {
		transform: rotate(0deg);
		right: 0;
	}

	to {
		transform: rotate(-360deg);
		right: 64px;
	}
}
